body {
  overflow-x: hidden;
  font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
  max-width: 1500px;
  margin: auto;
}

p {
  line-height: 1.75; 
}

a {
  color: #fed136; 
}

a:hover {
  color: #fec503; 
}

.text-primary {
  color: #fed136 !important; }

h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
}

#nav {
  background-color: #212529; 
}

#nav-buttons {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav-buttons-list {
    float: right;
}

#nav-buttons-list-bootstrap{
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#nav-buttons-list-bootstrap a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #fed136;
}

#nav-buttons-list-bootstrap a:hover {
    background-color: #111;
}


.nav-buttons-list a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-buttons-list a:hover {
    background-color: #111;
}



@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent; }
    #mainNav .navbar-brand {
      font-size: 1.75em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s; }
    #mainNav .navbar-nav .nav-item .nav-link {
      padding: 1.1em 1em !important; }
    #mainNav.navbar-shrink {
      padding-top: 0;
      padding-bottom: 0;
      background-color: #212529; }
      #mainNav.navbar-shrink .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0; } }




#header-img {
  text-align: center;
  color: white;
  background-image: url("../img/header-bg.jpg");
  background-position: center center;
}
  
#intro {
  padding-top: 150px;
  padding-bottom: 100px; 
}
    
#intro-text {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 25px;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
}
#intro-text-bottom {
  width: 200px;
  height: 70px;
  background-color: #fed136;
  margin: auto;
  color: white;
  padding: 20px 40px;
}





#intro-text-bottom-a{
  margin: auto;
}


section {
  padding: 100px 0; 
}

#header-center-text{
  text-align: center;
  display: block;
}

#text-center-in-box{
  text-align: center;
  display: flex;
  margin: auto;
  width: 1300px;
}


.service-image {
  width: 217px;
  height: 217px;
}

.box-center{
  text-align: center!important;
  width: 1000px;
  margin: 20px;
}

.service-center-box {
  margin: 15px 0;
  text-transform: none; 
}







#portfolio{
  width: 1500px;
  display: flex;
  margin: auto;
  background-color: #f8f9fa;
}

#portfolio-holder{
  text-align: center;
  width: 1500px;
  margin: auto;

}


#portfolio-header-text{
  text-align: center;
  width: 700px;
  margin: auto;
  position: absolute;
  margin: -100px 400px;
}


#portfolio .portfolio-item {
  right: 0;
  margin: auto; 
  display: flex;
  width: 500px;
  height: 400px;
  float: left;
}

.portfolio-image{
  height: 240px;
  width: 400px;
}


#portfolio .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  max-width: 400px;
  margin: 0 auto;
  cursor: pointer; 

}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  position: absolute;
  width: 400px;
  height: 350px;
  transition: all ease 0.5s;
  opacity: 0;
  background: rgba(254, 209, 54, 0.9); 

}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1; 
}

.portfolio-item-text{
  position: absolute;
  margin: 250px 200px;

}









#team-div{
  background-color: #f8f9fa;
  padding: 20px;
}

#about-us-header-text{
  text-align: center;
  width: 700px;
  margin: auto;
  position: absolute;
  margin: -60px 410px;
}

.timeline {
  padding: 0;
  list-style: none; 
  width: 500px;
  display: flex;
  margin: auto;
}

#timeline-ul{
  list-style-type: none;
}

.about-us-item{
  display: block;
  margin: auto;
  margin: 50px;
}

.about-us-image{
  width:  320px;
  height: 240px;
}

.about-us-item-div{
  width: 100px;
}
  
  

.timeline-image h4 {
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px; 
}

.timeline-panel-right {
  padding: 0 20px 0 100px;
  text-align: left; 
  position: absolute;
  margin: -210px 300px;
}

.timeline-panel-left {
  padding: 0 20px 0 100px;
  text-align: left; 
  position: absolute;
  text-align: right;
  margin: -210px -500px;
}

.timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0; 
}
















.team-member {
  margin-bottom: 50px;
  text-align: center; 
}
 
.team-member img {
  width: 320px;
  height: 240px;
  border: 7px solid #fff; 
}
  
.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none; 
}

#team-member-text{
  text-align: center;
  display: block;
}

#team-text-in-box{
  text-align: center;
  display: flex;
  margin: auto;
  width: 1300px;
}

.team-image {
  width: 259px;
  height: 194px;
}

.team-center{
  text-align: center;
  width: 1000px;
  margin: 20px;
}

.team-center-box {
  margin: 15px 0;
  text-transform: none; 
}




#logo-container{
  display: flex;
  width: 1000px;
  margin: auto;
}

.logo{
  display: block;
  margin: auto;
  text-align: center;
}






#contact {
  background-color: #212529;
  background-image: url("../img/map-image.png");
  background-repeat: no-repeat;
  background-position: center; 
  padding: 30px;
}






#contact{
  color: white;
  text-align: center;
}

#my-form{
  margin: auto;
  display: block;
}

#client-message{
  display: flex;
  width: 300px;
  margin: auto;
  padding: 20px;
}


#client-name{
  display: flex;
  width: 300px;
  margin: auto;
  padding: 20px;
}

#client-email{
  display: flex;
  width: 300px;
  margin: auto;
  padding: 20px;
}

#client-phone{
  display: flex;
  width: 300px;
  margin: auto;
  padding: 20px;
}

#submit-form{
  display: flex;
  width: 200px;
  margin: auto;
  background-color: #fec810;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}


#submit-form:hover{
    background-color: #ffc107;
    color: white;
}

/*#client-name{
  position: absolute;
  margin: -200px 700px;
}*/





#footer-container{
  display: flex;
  width: 1000px;
  margin: auto;
}

.footer-blocks{
  display: flex;
  margin: auto;
  text-align: center;
}

.list-inline-item{
  height: 30px;
  width: 30px;
  margin: 5px;
}

.footer-privacy a{
  display: flex;
  margin: 10px;
  text-align: center;
  text-decoration: none
}
